* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/* header  */
header {
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 1.5vh 0;
}

header p {
    font-weight: 600;
    letter-spacing: 1px;
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav div ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav div ul li {
    list-style: none;
    font-weight: 600;
}

nav div img {
    height: 50px;
}

nav div img:nth-child(2) {
    height: 25px;
}

nav h5 {
    font-size: large;
}

.btn {
    padding: 8px 15px;
    font-size: small;
    border-radius: 20px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

.yellow {
    background-color: #e1e100;
}


/* heor section  */
.hero {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;
}

.hero-text {
    width: 35vw;
}

.hero-text h3 {
    font-size: medium;
}

.hero-text h1 {
    font-size: 40px;
    margin: 20px 0;
}

.hero-text p {
    font-size: large;
    font-weight: 600;
    color: gray;
}

.hero-text button {
    margin-top: 30px;
}

.hero-image {
    width: 50vw;
}

.hero-image img {
    width: 100%;
    height: 100%;
}